/* General */

#enter-your-number fieldset {
	border: none;
}

#enter-your-number input {
	width: 75%;
	display: block;
	padding: 10px;
	font-size: 1.1em;
	clear: both;
}

#enter-your-number button {
	display: block;
	padding: 10px;
	font-size: 1.1em;
	clear: both;
}